/*
	filename: style.css
	author: Emily Hocking, Finbarr Brennan, Tessa Mordue
	created: 08/03/2023
	last modified: 13/04/2023
	description: style.css document is for all the CSS elements of the page
	extra notes: for major references, URLs have been added in documentation, full reference is on the HTML page at the end of enhancements
*/


/* ADDING FONTS ------------------------------------------------------------------------------------------------ 
	the following section establishes the imported fonts and assigns each a name which will be called
*/

@font-face {
    font-family: lesserHeadingFont;
    src: url(./fonts/Oswald-VariableFont_wght.ttf);
}

@font-face {
    font-family: bodyFont;
    src: url(./fonts/Comfortaa-VariableFont_wght.ttf);
}

@font-face {
    font-family: headingFont;
    src: url(./fonts/PressStart2P-Regular.ttf);
}

/* BASE CSS CONFIGURATIONS ------------------------------------------------------------------------------------- 
	this section sets up the very base of the webpage, featuring CSS aspects which apply to all pages
*/

/* the asterisk selects every element, this thus applies a set of fonts to the page, if bodyFont doesn't register, Verdana will attempt to and so onwards */
* {
    font-family: bodyFont, Verdana, Arial, Helvetica, sans-serif;
}

/* this code establishes the base colour for the webpage, we did this and overlayed other elements on top */
html {
    background-color: #003473;
    font-size: 17px;
}

body {
    margin: 0;
}

/* this class establishes the main parent element which we have used for our webpage. It by default is a white square which we overlay the page content upon */
.content {
    transition: 0.5s;
    margin-left: 7%;
    margin-right: 7%;
    background-color: white;
    margin-top: 0;
    font-size: 1rem;
}

/* this code positions the footer at the bottom of the page */
footer {
    background-color: black;
    display: block;
    overflow: hidden;
    padding: 30px;
    position: relative;
    color: white;
    clear: both;
}

/* both leftfooter and rightfooter are classes within the footer TO BE REMOVED */
.leftfooter {
    float: left;
    text-align: left;
    margin-left: 7%;
    margin-right: 120px;
}

.rightfooter {
    float: right;
    text-align: right;
    margin-left: 120px;
    margin-right: 7%;
}

/* this establishes the base background heading for all pages */
.headAll {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    font-size: 1.3em;
    background: url("images/page-banner-network3.jpg") no-repeat;
    background-size: 150%;
    height: 100%;
    color: white;
    text-shadow: 5px 5px blue;
    vertical-align: middle;
    padding: 20px;
}

.headAll h1 {
    font-size: 2em;
    font-family: headingFont;
    font-weight: bold;
}

/* NAVIGATION BAR CONFIGURATIONS ------------------------------------------------------------------------------- 
	this section is for all the navigation bar configurations and all of its animations
*/

/* navbar class acts as the parent class for the 'initial' and 'drop' class and defines the position and overflow to ensure that it sticks to the top of the page */
.navbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    top: 0;
}

/* this affects specifically the a links of the navbar, ensuring that they are all able to conduct animation and that they all have a set size */
.navbar a.link {
    display: block;
    position: relative;
    width: 220px;
    float: right;
    color: white;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;
}

/* this is the animation for the colour change in the navbar, it sets up for a block of white to be placed outside of the navbar button ready for animation 
	reference used URL: https://blog.logrocket.com/css-before-after-custom-animations-transitions/
*/
.navbar a.link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    transform: translateX(-100%);
    background-color: white;
    color: black;
    transition: all 0.5s;
}

/* this initates the transformation of the white block sliding across the button and stopping on the button 
	reference used URL: https://blog.logrocket.com/css-before-after-custom-animations-transitions/
*/
.navbar a.link:hover::before {
    transform: translateX(0);
}

.navbar a.link:hover {
    color: black;
}

.navbar a.link.active:hover {
    color: white;
}

/* below CSS sets link span default */
.navbar a.link span {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.7rem;
    font-family: lesserHeadingFont;
}

/* below CSS initiates animation of word offset with arrow appearing to the right of text
	reference used URL: https://www.w3schools.com/css/css3_buttons.asp
*/
.navbar a.link span:after {
    position: absolute;
    top: 0;
    right: -20px;
    opacity: 0;
    font-weight: bold;
    content: '\226B';
    transition: all 0.5s;
}

.navbar a.link:hover span {
    padding-right: 25px;
    opacity: 1;
}

.navbar a.link:hover span:after {
    right: -10px;
    opacity: 1;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

/* this is logo CSS */
#logo {
    display: inline-block;
    width: 140px;
    height: 80px;
    margin-left: 50px;
    margin-top: 3px;
}

/* RESPONSIVE DESIGN ------------------------------------------------------------------------------------------- */

/* fullpage and extra is for the job opportunity page, makes sure the header doesnt overflow */
#fullpage {
    display: block;
}

#extra {
    display: none;
}

@media only screen and (max-width: 850px) {
    .content {
        width: 100%;
        margin: 0;
        background-color: white;
        margin-top: 0;
        font-size: 1rem;
    }
}

@media only screen and (max-width: 560px) {
    #fullpage {
        display: none;
    }
    #extra {
        display: block;
    }
}

.drop {
    display: none;
}

/* the below CSS is for when the size of the screen drops below 1460px*/
@media only screen and (max-width: 1460px) {
    .navbar .initial a.link {
        display: none;
    }
    .drop a.link {
        display: block;
    }
    .navbar {
        overflow: visible;
    }
    .buttonDrop {
        position: relative;
        cursor: pointer;
        background-color: inherit;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("images/burgerLines.png");
        padding: 20px;
        border: none;
   }
    .drop {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-right: 50px;
        margin-bottom: 20px;
    }
    .drop {
        float: right;
    }

    .dropContent {
        position: relative;
        display: none;
        min-width: 160px;
        background-color: #000000;
        z-index: 1;
    }
    
    .dropContent a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }
    
    .drop:hover .dropContent {
        position: absolute;
        display: block;
        right: 0;
    }
}

/* INDEX PAGE -------------------------------------------------------------------------------------------------- */

.awardIndex {
 	padding: 30px;
	background-color: #6073C9;
	text-align: center;
	display: block;
	clear: both;
}

.serviceIndex {
	padding-left: 30px;
	padding-right: 30px;
	float: left;
	text-align: left;
	width: 45%;
}

.paidService {
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	text-align: left;
	width: 45%;
}

.services {
	padding-left: 30px;
	padding-right: 30px;
	text-align: center;
}

#groupPhoto {
	margin: 0;
	width: 100%;
	height: 100%;
}

.otherText {
    padding: 30px;
}

/* JOB DESCRIPTIONS PAGE---------------------------------------------------------------------------------------- */


.jobHead {
    display: block;
    padding: 30px;
    background-color: lightgrey;
    text-align: center;
    color: blue;
    font-size: 1.5rem;
    text-shadow: 2px 2px lightblue;
}

.jobDesc {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
}

.salary {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.duties {
    padding-left: 30px;
    padding-right: 30px;
}

.requirements {
    padding-left: 30px;
    padding-right: 30px;
}

/* APPLY PAGE -------------------------------------------------------------------------------------------------- */

form legend {
    font-family: lesserHeadingFont;
    font-weight: bold;
    font-size: 2em;
}

form label{
    font-family: lesserHeadingFont;
    font-size: 1.5em;
}

form fieldset label {
    font-family: bodyFont;
    font-size: 1rem;
}

/*container so that the button is centered on a section of the page*/
.buttonContainer {
    text-align: center;
    padding-bottom: 25px;
}

/*button structure*/
.applyNow {
    padding: 25px 50px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
    clear: both;
}

/*button additional structure*/
.applyAlternate {
    background-color: white;
    color: black;
    border: 2px solid #3992ff;
}

/*when hovered, animation plays*/
.applyAlternate:hover {
    background-color: #3992ff;
    color: white;
}

form {
    padding: 30px;
}

input[type=text], input[type=tel], input[type=email], input[type=date] {
  width: 30%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 3px solid white;
  border-bottom: 3px dashed lightblue;
  transition: 0.5s;
  outline: none;
}


@keyframes background-grad{
	from {background: linear-gradient(to bottom, white, white);}
	to {background: linear-gradient(to bottom, white, lightblue);}
}


input[type=text]:hover, input[type=tel]:hover, input[type=email]:hover {
	/* background: linear-gradient(to bottom, white, lightblue); 	
	
	how do i animate this?
	
	animation-name: background-grad;
	animation-duration: 4s;		*/
	
	box-shadow: 10px 10px lightblue;
	border: 3px dashed lightblue; 
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
  border: 3px solid blue;
  width: 80%;
  box-shadow: 10px 10px lightblue;
}

select{
	
	background-color: #f0f0fa;
	transition: 0.5s;
	padding: 10px 10px;
	outline: none;
	border: 3px dashed lightblue;
	
}

select:hover, select:focus, input[type=date]:hover, input[type=date]:focus{
	
	box-shadow: 10px 10px lightblue;
	border: 3px solid blue; 
	
}

input[type=date]:focus{
	
	box-shadow: 10px 10px lightblue;
    border: 3px solid blue;
	
}

/*
@keyframes checkboxclick{
	
	0% {outline: 5px dashed #e0e0f0;}
	50% {outline: 5px solid blue;}
	100% {outline: 5px dashed #e0e0f0;}
}

idk how to activate this on div clicked...

*/

#gender{
	
	padding: 10px;
	background-color: #f0f0fa;
	border: 5px dashed #e0e0f0;
	transition:0.5s;
	
	margin: 5px;
	
}

#gender:hover{
	
	border: 5px solid blue;
	box-shadow: 10px 10px lightblue;
	
}

#checkboxes{
	
	padding: 10px;
	background-color: #f0f0fa;
	margin: 5px;
	border: 5px dashed #e0e0f0;
	transition:0.5s
	
}

#checkboxes:focus, #checkboxes:hover{
	
	border: 5px solid blue;
	box-shadow: 10px 10px lightblue;
	
}

#dob{		/*	dob = Date Of Birth	*/
	
	font-family: sans-serif;
	
}

#otherskills{
	
	font-family: calibri, sans-serif;
	font-size: 16px;
	
	padding: 10px;
	background-color: #f0f0fa;
	border: 5px dashed #e0e0f0;
	transition:0.5s;
	
	margin: 5px;
	outline: none;
	resize: none;
	
	width: 20%;
	height: 50px;
	
}

#otherskills:focus, #otherskills:hover{
		
	border: 5px solid blue;
	box-shadow: 10px 10px lightblue;
	
	width: 40%;
	height: 150px;
}

/* ABOUT US PAGE ----------------------------------------------------------------------------------------------- */

#imageGroup {
    text-align: center;
    width: 30%;
    float: right;
    padding: 2%;
    transition: 0.5s;
}

#groupPhotoAbout {
	border: 5px dashed lightblue;
	transition: 0.5s;
    display: inline-block;
}

#groupPhotoAbout:hover {
    border: 5px solid blue;
	box-shadow: 10px 10px lightblue;
}

@media only screen and (max-width: 1470px) {
    #imageGroup {
        float: none;
        width: 100%;
        margin-left: -2%;
    }
    #groupPhotoAbout {
        width: 45%;
    }
    dl {
        width: 100%;
        float: none;
        margin: auto;
    }
}

dl {
    border: 3px dashed lightblue;
    transition: 0.5s;
    width: 60%;
    overflow: hidden;
}

dl:hover {
    box-shadow: 10px 10px lightblue;
	border: 3px solid blue; 
}

dt {
    width: 20%;
    padding: 1%;
    float: left;
    clear: left;
    text-align: right;
    font-style: bold;
    color: blue;
}

dd {
    width: 70%;
    padding: 1%;
    float: left;
    margin: auto;
}

#daySmall {
    font-weight: bold;
    font-size: 1.2em;
}

#beneathDL {
    clear: both;
}

#beneathDL dl {
    width: 100%;
}

.weekTable table tr td {
    background-color: #f9f9f9;
}

/*refers to being applicable to both the table, th and td elements*/
.table, th, td {
    border: solid 2px black;
    padding: 20px;
}

table {
    border-collapse: collapse;
    font-size: 100%;
    width: 100%;
    clear: both;
}

#meetupTable table {
    width: 100%;
}

th {
    background-color: black;
    color: white;
    font-size: 1.3rem;
    font-family: lesserHeadingFont, bodyFont, Verdana, Arial, Helvetica, sans-serif;
}

/*when a table row is hovered upon, this will occur*/
tr:hover {
    background-color: lightblue;
}

.weekTable {
    overflow-x: auto;
    width: 100%;
}

#COS10009 {
    background-color: lightgreen;
}

#COS10026 {
    background-color: lightslategray;
}

#TNE10006 {
    background-color: lightcoral;
}

#TNE10005 {
    background-color: plum;
}

#timeTable {
    text-align: right;
    vertical-align: bottom;
    padding: 0.5%;
    padding-top: 3%;
    padding-left: 1%;
    height: 30px;
    font-family: lesserHeadingFont, bodyFont, Verdana, Arial, Helvetica, sans-serif;
    font-style: bold;
    background-color: #000000;
    color: #ffffff;
    font-size: 1.1em;
}

.weekTable table tr td {
    padding: 0.5%;
    font-size: 0.8em;
}

#weekName {
    width: 18.5%;
}

.groupInfo {
    padding: 30px;
}

.introduction {
    padding: 30px;
}

.groupInfo h1 {
    font-family: lesserHeadingFont;
    font-size: 2em;
}

#nameIndiv {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color: blue;
    text-shadow: 4px 4px lightblue;
    font-family: headingFont;
}

hr {
    clear: both;
}

.groupInfo h3 {
    color: blue;
    font-size: 1.5rem;
    text-shadow: 2px 2px lightblue;
    font-family: lesserHeadingFont;
}

.pictureInfo {
    float: right;
    width: 40%;
    text-align: center;
    transition: 0.5s;
}

.pictureInfo .photo {
    width: 30%;
    height: 30%;
    
	border: 3px dashed lightblue;
    transition: 0.5s;
}

.pictureInfo aside {
    font-weight: bold;
    font-style: italic;
    padding-left: 0.5rem;
    margin: 0.5rem;
    text-align: left;
    
	border: 3px dashed lightblue;
    transition: 0.5s;
}

.pictureInfo aside:hover {
    box-shadow: 10px 10px lightblue;
	border: 3px solid blue; 
}

.pictureInfo .photo:hover {
    box-shadow: 10px 10px lightblue;
	border: 3px solid blue; 
}

@media only screen and (max-width: 850px) {
    .pictureInfo {
        float: none;
        width: 100%;
    }
}

#contentTable {
    width: 50%;
    float: right;
}

.minimizeTable {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

#mon, #tue, #wed, #thu, #fri {
    display: inline-block;
    padding: 2%;
}

/* ENHANCEMENTS PAGE ------------------------------------------------------------------------------------------- */

.enhancements {
    padding: 30px;
}

:target h3 {
    background-color: lightblue;
}

:target h3::before {
    content: '\226B';
    margin-right: 0.25em;
}

:target h2 {
    background-color: lightblue;
}

:target h2::before {
    content: '\226B';
    margin-right: 0.25em;
}

.anchor {
    display: block;
    height: 90px;
    margin-top: -90px;
    visibility: hidden;
}

.enhancements a {
    color: blue;
    text-decoration: none;
    border: 2px dashed lightblue;
}

#ref {
    text-decoration: underline;
    border: none;
}



