/*RULES AND NOTES ON ADDING CSS:
- Do whatever you like lol
- If something breaks and you want the old code back but can't remember it, I'll (Emily) send the old code in chat as I've got archives just in case
- Below I'll add some notes on what each section is meaning/changing

- HOWEVER, do not add in CSS stuff which is absolute (like absolute links), only add relative stuff
- The assignment MUST be valid CSS2.1 or CSS3 (but don't worry about this as I'll do validation checks later)
- Don't use proprietary CSS mark-up (like -moz or -webkit)
*/

/* CURRENT STATE OF CSS HAS NO VALIDATION ERRORS */

/*html is currently being used as the background blue side colours, the colour could be replaced with an image*/
html {
    background-color: #003473;
    font-size: 15px;
}


* {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 20px;
}

body {
    margin: 0;
}

.navbar {
    overflow: hidden;
    background-color: black;
    position: sticky;
    margin: 0;
    top: 0;
}

.navbar a.link {
    display: block;
    position: relative;
    width: 220px;
    float: right;
    color: white;
    text-align: center;
    padding: 30px 15px;
    text-decoration: none;
    transition: all 0.5s;
    cursor: pointer;
    overflow: hidden;
}

.navbar a.link::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    transform: translateX(-100%);
    background-color: white;
    color: black;
    transition: all 0.5s;
}

.navbar a.link:hover::before {
    transform: translateX(0);
}

.navbar a.link:hover {
    color: black;
}

.navbar a.link.active:hover {
    color: white;
}

.navbar a.link span {
    display: inline-block;
    position: relative;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1.2rem;
    font-family: 'Arial black', arial;
}

.navbar a.link span:after {
    position: absolute;
    top: 0;
    right: -20px;
    opacity: 0;
    font-weight: bold;
    content: '\226B';
    transition: all 0.5s;
}

.navbar a.link:hover span {
    padding-right: 25px;
    opacity: 1;
}

.navbar a.link:hover span:after {
    right: -10px;
    opacity: 1;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

/*this is for the logo, I plan to link the logo image here instead of having it on each page*/
#logo {
    display: inline-block;
    width: 140px;
    height: 80px;
    margin-left: 50px;
    margin-top: 3px;
}

.content {
    transition: 0.5s;
    margin-left: 7%;
    margin-right: 7%;
    background-color: white;
    margin-top: 0;
    font-size: 1rem;
}

@media only screen and (max-width: 850px) {
    .content {
        width: 100%;
        margin: 0;
        background-color: white;
        margin-top: 0;
        font-size: 1rem;
    }
}

.drop {
    display: none;
}

@media only screen and (max-width: 1460px) {
    .headAll {
        padding: 0;   
    }
    .navbar .initial a.link {
        display: none;
    }
    .drop a.link {
        display: block;
    }
    .navbar {
        overflow: visible;
    }
    .buttonDrop {
        position: relative;
        cursor: pointer;
        background-color: inherit;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-image: url("images/burgerLines.png");
        padding: 20px;
        border: none;
   }
    .drop {
        position: absolute;
        display: inline-block;
        top: 0;
        right: 0;
        margin-top: 20px;
        margin-right: 50px;
        margin-bottom: 20px;
    }
    .drop {
        float: right;
    }

    .dropContent {
        position: relative;
        display: none;
        min-width: 160px;
        background-color: #000000;
        z-index: 1;
    }
    
    .dropContent a {
        display: block;
        padding: 12px 16px;
        text-decoration: none;
    }
    
    .drop:hover .dropContent {
        position: absolute;
        display: block;
        right: 0;
    }
}

/*refers to being applicable to both the table, th and td elements*/
.table, th, td {
    border: solid 2px black;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: black;
    color: white;
    font-size: 1.3rem;
}

/*when a table row is hovered upon, this will occur*/
tr:hover {
    background-color: #D6EEEE;
}

/*this code positions the footer at the bottom of the page*/
footer {
    background-color: black;
    display: block;
    overflow: hidden;
    padding: 30px;
    position: relative;
    color: white;
}

/*both leftfooter and rightfooter are classes within the footer, for future optimization, I may add container separation*/
.leftfooter {
    float: left;
    text-align: left;
    margin-left: 120px;
    margin-right: 120px;
}

.rightfooter {
    float: right;
    text-align: right;
    margin-left: 120px;
    margin-right: 120px;
}


.headAll {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    font-size: 1.3em;
    background: url("images/page-banner-network3.jpg") no-repeat;
    background-size: 120%;
    height: 100%;
    color: white;
    text-shadow: 5px 5px blue;
    vertical-align: middle;
    padding: 20px;
}

.headAll h1 {
    font-size: 2em;
    font-family: 'Arial black', arial;
    font-weight: bold;
}

/*refers to the award class in index*/
.awardIndex {
    padding: 30px;
    background-color: #6073C9;
    text-align: center;
    display: block;
}

/*refers to the service section in index*/
.serviceIndex {
    padding-left: 30px;
    padding-right: 30px;

}

.paidService {
    padding-left: 30px;
    padding-right: 30px;
}

/*container so that the button is centered on a section of the page*/
.buttonContainer {
    text-align: center;
    padding-bottom: 25px;
}

/*button structure*/
.applyNow {
    padding: 25px 50px;
    border: none;
    color: white;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*button additional structure*/
.applyAlternate {
    background-color: white;
    color: black;
    border: 2px solid #3992ff;
}

/*when hovered, animation plays*/
.applyAlternate:hover {
    background-color: #3992ff;
    color: white;
}

/*FOR ALL BELOW, PLEASE ADD WHATEVER CSS YOU WOULD LIKE!!!!!!*/
.otherText {
    padding: 30px;
}

form {
    padding: 30px;
}

.groupInfo {
    padding: 30px;
}

.introduction {
    padding: 30px;
}

.enhancements {
    padding: 30px;
}

.jobHead {
    display: block;
    padding: 30px;
    background-color: lightgrey;
    text-align: center;
	
	
    color: blue;
    font-size: 1.5rem;
    text-shadow: 2px 2px lightblue;
}

.jobDesc {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.salary {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.duties {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.requirements {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
}



#nameIndiv {
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
}

.groupInfo h3 {
    color: blue;
    font-size: 1.5rem;
    text-shadow: 2px 2px lightblue;
}

.photo {
    float: right;
}

.pictureInfo aside {
    font-weight: bold;
    font-style: italic;
    padding-left: 0.5rem;
    margin: 0.5rem;
    box-shadow: inset 5px 0 5px -5px;
    width: 40%;
    float: right;
}

#contentTable {
    width: 50%;
    float: right;
}







/*apply page junk: (feel free to recycle/make changes)*/

input[type=text], input[type=tel], input[type=email], input[type=date] {
  width: 30%;
  padding: 12px 10px;
  margin: 8px 0;
  border: 3px solid white;
  border-bottom: 3px dashed lightblue;
  transition: 0.5s;
  outline: none;
}


@keyframes background-grad{
	from {background: linear-gradient(to bottom, white, white);}
	to {background: linear-gradient(to bottom, white, lightblue);}
}


input[type=text]:hover, input[type=tel]:hover, input[type=email]:hover {
	/* background: linear-gradient(to bottom, white, lightblue); 	
	
	how do i animate this?
	
	animation-name: background-grad;
	animation-duration: 4s;		*/
	
	box-shadow: 10px 10px lightblue;
	border: 3px dashed lightblue; 
}

input[type=text]:focus, input[type=tel]:focus, input[type=email]:focus {
  border: 3px solid blue;
  width: 80%;
  box-shadow: 10px 10px lightblue;
}

select{
	
	background-color: #f0f0fa;
	transition: 0.5s;
	padding: 10px 10px;
	outline: none;
	border: 3px dashed lightblue;
	
}

select:hover, select:focus, input[type=date]:hover, input[type=date]:focus{
	
	box-shadow: 10px 10px lightblue;
	border: 3px solid blue; 
	
}

input[type=date]:focus{
	
	box-shadow: 10px 10px lightblue;
    border: 3px solid blue;
	
}

/*
@keyframes checkboxclick{
	
	0% {outline: 5px dashed #e0e0f0;}
	50% {outline: 5px solid blue;}
	100% {outline: 5px dashed #e0e0f0;}
}

idk how to activate this on div clicked...

*/

#gender{
	
	padding: 10px;
	background-color: #f0f0fa;
	border: 5px dashed #e0e0f0;
	transition:0.5s;
	
	margin: 5px;
	
}

#gender:hover{
	
	border: 5px solid blue;
	box-shadow: 10px 10px lightblue;
	
}

#checkboxes{
	
	padding: 10px;
	background-color: #f0f0fa;
	margin: 5px;
	outline: 5px dashed #e0e0f0;
	transition:0.5s
	
}

#checkboxes:focus, #checkboxes:hover{
	
	outline: 5px solid blue;
	box-shadow: 10px 10px lightblue;
	
}

#dob{		/*	dob = Date Of Birth	*/
	
	font-family: sans-serif;
	
}

#otherskills{
	
	font-family: calibri, sans-serif;
	font-size: 16px;
	
	padding: 10px;
	background-color: #f0f0fa;
	border: 5px dashed #e0e0f0;
	transition:0.5s;
	
	margin: 5px;
	outline: none;
	resize: none;
	
	width: 20%;
	height: 50px;
	
}

#otherskills:focus, #otherskills:hover{
		
	border: 5px solid blue;
	box-shadow: 10px 10px lightblue;
	
	width: 40%;
	height: 150px;
}

